$color-red-dark: #EA2027;
$color-red-light: #ED4C67;
$color-blue-dark: #0652DD;
$color-green-dark:#009432;
$color-white:#fff;
$color-black:#000;
$color-grey-light-1: #f7f7f7;
$color-grey-dark:#777;
$color-grey-dark-2:#333;
$color-grey-light-2: #eee;
$row-width: 80%;
 