
body{
    font-family: 'Lato', serif;
    line-height: 1.7;
    color: $color-grey-dark;
    line-height: 1.7;
    
}   


.title{
    color:$color-white;

    &--main{
        display: block;
        font-size: 6rem;
        letter-spacing: 0.5rem;
        animation: movInLeft 1s ease-out ;
        backface-visibility: hidden;
        color: $color-white;
        @include respond(phone){
            font-family: 5rem;
        }
    }
    &--sub{
        display: block;
        letter-spacing: 15px;
        font-size: 3rem;
        animation: movInRight 1s ease-out ;
        margin-bottom: 10px ;

      @include respond(phone){
            font-family: .5rem;

        }
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all .2s;
    background-image: linear-gradient(to right, $color-red-dark, $color-grey-dark-2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    &:hover{
        transform: skewX(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem;
    }
    @include respond(tab-port){
            font-size: 2.5rem;
            
    }
    @include respond(phone){
            font-size: 2rem;

    }
}

.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    
}

.paragraph{
    font-size: 1.6rem;
    &:not(:last-child){
         margin-bottom:3rem;
    }
}